.navbar {
  background-color: #c89c00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 

}

.navbar-container {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navbar-brand {
  font-weight: bold;
  font-family: 'Georgia', serif;
}

.navbar-logo {
  height: 80px;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  gap: 20px
}

.nav-item {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  background-color: #c89c00;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #c89c00;
  background-color: #c89c00;
  bottom: -3px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:hover::after {
  opacity: 1;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px;
  background-color: #c89c00;
  padding: 6px 12px;
  border-radius: 10px;
}

.profile-icon {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: flex;               
  align-items: center;         
}


.profile-name {
  font-weight: bold;
  color: white;
}

.nav-auth {
  text-decoration: none;
  color: #c89c00;
  background-color: #ffffff;
  font-weight: 500;
  position: relative;
  height: 2px;
}

.nav-auth::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #c89c00;
  bottom: -3px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

/* Tambahkan ini */
.burger-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .burger-icon {
    display: block;
    font-size: 26px;
    cursor: pointer;
    color: black;
  }

  .navbar-right {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #c89c00;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    display: none;
    z-index: 999;
  }

  .navbar-right.open {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .navbar-auth {
    width: 100%;
  }

  .profile-wrapper {
    justify-content: flex-start;
  }
}


